body {
  margin: 0;
}
html,
* {
  padding: 0;
  box-sizing: border-box;
}
P:hover {
  background-color: coral;
  cursor: pointer;
}
nav {
  background-color: blue;
}
#head {
  text-align: center;
  background-color: aqua;
  border: 1px solid black;
}
.display {
  display: inline-flex;
  color: aliceblue;
}

#p2 {
  margin-left: 2vw;
  margin-right: 2vw;
}
#p3 {
  margin-left: 2vw;
  margin-right: 2vw;
}
#p4 {
  margin-right: 2vw;
}
#p5 {
  margin-left: 2vw;
  margin-right: 2vw;
}
#p6 {
  margin-left: 2vw;
  margin-right: 2vw;

  margin-left: 2vw;
  margin-right: 2vw;
}
#p7 {
  margin-left: 2vw;
  margin-right: 2vw;
}
#p8 {
  margin-left: 2vw;
  margin-right: 2vw;
}
