 body {
            font-family: sans-serif;
            margin: 0;
            padding: 20px;
        }
        h1 {
            text-align: center;
        }

        #main {
            display: grid;
            gap: 15px;

            grid-template-columns: 1fr;
        }

        .product {
            background-color: bisque;
            border: 2px solid black;
            padding: 10px;
            text-align: center;
        }
        .product img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            background-color: #ddd;
        }
         @media (min-width: 600px) {
            #main {
                grid-template-columns: 1fr 1fr; 
            }
        }

        @media (min-width: 1000px) {
            #main {
                                grid-template-columns: 1fr 1fr 1fr 1fr; 
            }
        }