body {
  margin: 0;
}
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background-color: aquamarine;
  height: 40vw;
  border: 2px solid black;
}
header {
  justify-content: center;

  display: flex;
}
div {
  margin-top: 10vw;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
}
header div {
  text-align: center;
  margin-left: 5vw;
}
img {
  background-color: antiquewhite;
  border-radius: 15cap;
  width: 20vw;
  height: fit-content;
}
H1 {
  background-color: aqua;
  text-align: center;
}
